[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/twilio"]
	path = modules/twilio
	url = git@github.com:destos/kohana-twilio.git
[submodule "modules/console"]
	path = modules/console
	url = git://github.com/daveWid/console.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/purifier"]
	path = modules/purifier
	url = git://github.com/shadowhand/purifier.git
[submodule "modules/asset"]
	path = modules/asset
	url = git://github.com/jonathangeiger/kohana-asset.git
